@import '../../../variables.scss';

.auctionLiveNow {
    gap: 16px;
    display: flex;
    flex-direction: column;
 &__text {
    gap: 16px;
    display: flex;
    font-size: 34px;
    font-weight: 400;
    color: #4CAF50;
    font-family: Roboto;
    align-items: center;
    letter-spacing: 0.085px;
    justify-content: flex-start;
    @media (max-width: $tablet) {
        font-size: 34px;
    }
    @media (max-width: $mobile) {
        font-size: 24px;
}
 }
 &__participants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_number {
        color:#5F6C7B;
        font-size: 24px;
        font-weight: 400;
        font-family: Roboto;
    }
    &_left {
        color: #5F6C7B;
        font-size: 16px;
        font-weight: 400;
        font-family: Roboto;
        letter-spacing: 0.024px;
    }
 }
}