.auctionInfoFiles{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__header {
        border-radius: 16px 16px 0px 0px;
        background: var(--Sec, #094067);
        padding: 10px 8px;
        width: 100%;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.024px;
        }
    &__container {
    display: flex;
    align-items: center;
    gap: 16px;
    &_item {
        width: 100%;
        max-width: 80px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: var(--Snow-white, #FFF);
        box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.16);
        &_text {

            color: var(--Sec, #094067);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
        }
    }
}
}

