.auctionInfoFiles {
    gap: 8px;
    display: flex;
    flex-direction: column;
    &__header {
        width: 100%;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 8px;
        font-family: Roboto;
        letter-spacing: 0.024px;
        border-radius: 16px 16px 0px 0px;
        background: var(--Sec, #094067);
        }
    &__container {
    gap: 16px;
    display: flex;
    align-items: center;
    &_item {
        width: 100%;
        height: 76px;
        display: flex;
        max-width: 80px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        background: var(--Snow-white, #FFF);
        box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.16);
        &_text {
            color:#094067;
            font-size: 16px;
            font-weight: 400;
            font-family: Roboto;
            letter-spacing: 0.024px;
        }
    }
}
}

