@import '../../../variables.scss';

.auctionBid {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &__volume {
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: end;
       &>img {
        margin: 0;
        padding: 0;
       }
    }
    &__volume {
        width: 100%;
        float: left;
    }
    &__banner {
        width: 162px; 
        height: 162px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: rgba(9, 64, 103, 0.20);
        box-shadow: 0px 4px 38px rgba(9, 64, 103, 0.16);
        &_innerCircle {
            gap:2px;
            width: 132px;
            height: 132px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #FFF;
            box-shadow: 0px 4px 38px rgba(9, 64, 103, 0.64);
            &_p {
                color:#5F6C7B;
                font-size: 14px;
                font-weight: 500;
                font-family: Roboto;
                letter-spacing: 0.014px;
            }
            &_priceTag {
                color:#094067;
                font-size: 16px;
                font-weight: 700;
                font-family: Roboto;
                letter-spacing: 0.024px;
            }
        }
    }
    &__previousBids {
        gap: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &_header {
            width: 100%;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            padding: 10px 8px;
            font-family: Roboto;
            background:#094067;
            letter-spacing: 0.024px;
            border-radius: 16px 16px 0px 0px;
        }
        &_container {
            gap: 8px;
            display: flex;
        }
        &_profile {
            display: flex;
            padding: 4px 8px;
            border-radius: 8px;
            background: #FFF;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 38px 0px rgba(9, 64, 103, 0.12);
            gap: 8px;
            &_details {
                display: flex;
                flex-direction: column;
                gap: 4px;
                &_countryName {
                    gap: 4px;
                    display: flex;
                    color:#5F6C7B;
                    font-size: 12px;
                    font-weight: 400;
                    font-family: Roboto;
                    letter-spacing: 0.048px;
                }
                &_priceTag {
                    color:#5F6C7B;
                    font-size: 12px;
                    font-weight: 700;
                    font-family: Roboto;
                    letter-spacing: 0.048px;
                }
            }
        }
    }

     &__amount {
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_change {
            color: white;
            border-radius: 50%;
            padding: 8px 16px;
            background-color:#094067;
        }
        &_input {
            width: 100%;
            padding: 12px;
            border: none;
            color:#094067;
            font-size: 16px;
            font-weight: 700;
            max-width: 138px;
            background: #FFF;
            text-align: center;
            font-family: Roboto;
            border-radius: 25px;
            letter-spacing: 0.024px;
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
        }
     }
     &__bidNow {
            &_btn {
                width: 100%;
                border: none;
                padding: 16px;
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                border-radius: 74px;
                text-align: center;
                font-family: Roboto;
                background: #094067;
                letter-spacing: 0.024px;
             };
     };
     
     &__buyNow {
        gap: 6px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_btn {
            width: 100%;
            padding: 16px;
            color: #3DA9FC;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            background: white;
            text-align: center;
            font-family: Roboto;
            border-radius: 74px;
            letter-spacing: 0.024px;
            border: 1px solid #3DA9FC;
        };
        &_priceTag {
            width: 100%;
            color:#094067;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            font-family: Roboto;
            letter-spacing: 0.024px;
        };
    };
}