@import '../../../variables.scss';

.AuctionNavbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
    &__path{
        display: flex;
        @media screen and (max-width: $mobile) {
            width: 100%;
            justify-content: start;
        }
        &_button {
            gap: 6px;
            border: none;
            color:#094067;
            display: flex;
            font-size: 12px;
            font-weight: 400;
            padding: 8px 11px;
            font-family: Roboto;
            border-radius: 15px;
            background: #FFF;
            align-items: center;
            letter-spacing: 0.048px;
        }
        &_saleList {
            margin-left: -5px;
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
            &_arrow {
                @media (min-width: $tablet) {
                    display: none;
                }
            }
        }
        &_calendar {
            margin-left: -5px;
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
        }
        &_auctionName {
            color: #FFF;
            margin-left: -5px;
            background-color: #094067;
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
        }
        &_calendar, &_auctionName, &_home {
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
    }
}