@import '../../../variables.scss';

.auctionGallery {
    display: flex;
    flex-direction: column;
    gap: 6px;
    &__images {
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 4px;
        @media screen and (max-width: $tablet) {
            display: none;
        }
        &_lastImg {
            position: relative;
        }
  
        &_loadMoreBtn {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            background: transparent;
            border: none;
            color: #FFF;
            /* Subtitle 1 / Roboto / Regular / 16 */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
        }
    }
    &__imagesMobile {
        display: flex;
        gap: 4px;
        overflow: scroll;
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}