.auctionInfoMain {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
        &__row {
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 2px 38px 0px rgba(9, 64, 103, 0.12);
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &_title {
            color: var(--Tert, #5F6C7B);
            /* Body 2 / Roboto / Regular / 14 */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;
        }
        &_description {
            color: var(--Tert, #5F6C7B);
            text-align: right;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.035px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }
    }
}
