@import '../../../variables.scss';

.upcomingLots {
    gap: 8px;
    display: flex;
    flex-direction: column;
    &__lot {
         gap: 8px;
         padding: 8px;
         display: flex;
         border-radius: 8px;
         background: #FFF;
         box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
         &_img {
            position: relative;
            &_btn {
                bottom: 0;
                width: 100%;
                border: none;
                color: #FFF;
                font-size: 12px;
                font-weight: 400;
                border-radius: 8px;
                position: absolute;
                text-align: center;
                font-family: Roboto;
                background:#094067; 
                letter-spacing: 0.048px;
            }
         }
         &_details {
            display: flex;
            flex-direction: column;
            &_name {
                color:#094067;
                font-size: 16px;
                font-weight: 700;
                font-family: Roboto;
                letter-spacing: 0.024px;
            }
            &_text {
                color: #5F6C7B;
                font-size: 14px;
                font-weight: 400;
                font-family: Roboto;
                letter-spacing: 0.035px;
            }
         }
    }
    &__mobileAndTablet {
        @media (min-width: $tablet){
            display: none;
        }
        &__button{
            width: 100%;
            border: none;
            padding: 16px;
            font-size: 16px;
            font-weight: 400;
            color: #094067;
            background: #FFF;
            text-align: center;
            font-family: Roboto;
            border-radius: 34px;
            letter-spacing: 0.024px;
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
        }
    }
    &__desktop {
        @media (max-width: $tablet){
            display: none;
        }
    }
}