.arrowButton { 
    position: relative;
    padding: 0 0 10px 0;
    width: 10px;
}

.arrowButton:before, .arrowButton:after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    content: '';
}

.up:before, .up:after {
    transform: rotate(225deg);
}








